body {
    font-family: Arial;
}

.textbox-label {
    text-align: right;
    width: 175px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

#spanMVP {
    color: #30a32e;
}

.div-login {
    font-size: 24px;
}

.btn-login {
    width: 148px;
    height: 44px;
    color: #413e3e;
    font-family: Arial;
    font-size: .75em;
}

.textbox-user-entry {
    width: 150px;
}