.portal-menu {
    width: 100%;
    background-color: #9F9E9C;
}

    .portal-menu li {
        right: 0;
        position: absolute;
        top: 0;
    }

    .portal-menu ul li ul {
        display: none;
    }

.menu-item {
    background-color: #9F9E9C;
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    /*margin-left: 25px;*/
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border: 1px solid #f00;
    border-collapse: collapse;*/
}

    .menu-item:hover {
        background-color: #808080;
        color: #ccc;
    }

.menu-item--static {
}

    .menu-item--static:hover {
    }

.menu-item--dynamic {
    border-bottom: 2px solid #ccc !important;
}

    .menu-item--dynamic:hover {
    }
