#update-text {
    font-weight: bold;
    font-size: 1.25em;
}

.password-label {
    text-align: right;
    width: 200px;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
}

.password-input {
    width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.password-input-div {
    padding-bottom: 10px;
}

.password-btn-container {
    padding-top: 10px;
    padding-bottom: 5px;
}

.password-rules-container {
    padding-top: 10px;
    font-size: .85em;
}

.btn-update-password {
    width: 175px;
}

.btn-cancel {
    width: 175px;
}
