body {
    font-size: 100%;
}

.report-master-container {
    width: 100%;
    margin: 0 auto;
}

.report-container {
    width: 100%;
    overflow-x: auto;
}

.report-container__table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #000;
    font-family: arial;
    background-color: #CDCDCD;
    /*width: 100%;*/
    /*margin: 10px 0pt 15px;*/
    /*font-size: 8pt;*/
    /*text-align: left;*/
}

    .report-container__table thead tr th, tfoot tr th {
        background-color: #acacac;
        border: 1px solid #000;
        /*font-size: 8pt;*/
        padding: 4px;
        vertical-align: top;
        font-size: 1em;
    }

    .report-container__table tr:nth-of-type(2n+1) {
        background-color: #F2F2F6;
    }

    .report-container__table tr:nth-of-type(2n) {
        background-color: #FFFFFF;
        color: #000;
    }

    .report-container__table td, th {
        border: 1px solid #000;
        height: 18px;
        padding: 3px;
        font-size: .85em;
    }

.report-container__data {
    height: auto;
    width: 100%;
    /*border: 1px solid #000;*/
    text-align: center;
    font-weight: normal;
    font-size: 1.25em;
    padding-top: 15px;
    padding-bottom: 5px;
    /*background-color: #ddd;*/
}

.report-container__data__title {
    font-size: 1.35em;
    font-weight: bold;
}

.report-container__data__metadata {
    font-size: .8em;
}

.report-container__data__row-count {
    font-size: .75em;
}

.report-container__data__gen-date {
    font-size: .75em;
    font-style: italic;
}

.report-container__no-data {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.report-header {
    font-size: 1.25em;
    font-family: DaunPenh;
    text-align: center;
}

.report-footer {
    font-size: .75em;
    font-family: Arial;
    text-align: center;
    margin-top: 5px;
}

.report-criteria {
    margin: 0 auto;
    width: 90%;
}

.report-criteria__label {
    width: 100px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

.report-criteria__listbox {
}

.report-criteria__cbo {
}

.report-title {
    font-weight: bold;
    font-size: x-large;
}

.report-title-container {
    text-align: center;
    margin: 0 auto;
    width: 450px;
}

.rpt-button {
    margin: 10px 5px 0px 5px;
}

/*.rpt-buttons {
    margin: 0 auto;
    text-align: center;
}*/

.btn-run-report {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Tablesorter */
table.tablesorter {
}

    table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    }

    table.tablesorter thead tr .header {
        background-image: url(../Images/bg.gif);
        background-repeat: no-repeat;
        background-position: center bottom;
        cursor: pointer;
        padding-bottom: 15px;
    }

    table.tablesorter tbody tr:nth-of-type(2n+1) {
    }

    table.tablesorter tbody tr:nth-of-type(2n) {
    }

    table.tablesorter tbody td {
    }

    table.tablesorter thead tr .headerSortUp {
        background-image: url(../Images/asc.gif);
    }

    table.tablesorter thead tr .headerSortDown {
        background-image: url(../Images/desc.gif);
    }

    table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
        background-color: #8dbdd8;
    }

.detail {
    font-size: 14px;
}

.expandedDetails {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    border-collapse: collapse;
    border: 1px solid #000;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 12px;
    background-color: #FFFFFF;
    font-family: Arial;
}

    .expandedDetails .table_header, .table_header tr {
        background-color: #acacac;
        /*font-size: 1.25em;*/
    }
    .expandedDetails .table_header tr {
            background-color: #acacac;
            font-size: 16px;
        }
    .expandedDetails .detail_title {
        background-color: #F2F2F6;
        color: #000;
        font-weight: bold;
        width: 20%;
        text-align: right;
        font-size: 14px;
    }

    .expandedDetails .detail_title_center {
        background-color: #F2F2F6;
        color: #000;
        font-weight: bold;
        width: 20%;
        text-align: right;
    }

    .expandedDetails .detail_def {
        background-color: #F2F2F6;
        color: #000;
        font-weight: bold;
        text-align: center;
    }

    .expandedDetails td {
        border: 1px solid #000;
        height: 18px;
        padding: 2px;
    }

    .expandedDetails .detail_red {
        color: #ff0000;
    }

    .expandedDetails .detail_blue {
        color: #0000ff;
    }

.detail_title2 {
    background-color: #acacac;
    border: 1px solid #000;
    /*font-size: 8pt;*/
    padding: 4px;
    vertical-align: top;
    /*font-size: 1em;*/
}

.report-input-container {
    display: flex;
    height: 125px;
    margin: 0px 0px 10px 0px;
    justify-content: center;
}

.date-selector-container {
    display: inline-flex;
}

.input-wrapper {
    display: table-cell;
    width: 255px;
}

.input-wrapper__controls {
    display: inline-flex;
}

.input-wrapper__errors {
    display: block;
    text-align: center;
}

.total-row td {
    font-weight: bold;
    background-color: #D5D5D5;
}

.spn-criteria {
    height: 20px;
    width: 250px;
    display: inline-flex;
}

.station-support-criteria {
    width: 600px;
}
.bold-selector td{
    font-weight:bold;
}

.rescheduled-criteria-top {
    padding-left: 110px;
}
/* syling for pop up tables*/
#div-details-report {
    /*width: 70%;
                width: 70%;
            height: 40%;
    min-height: 20%;
    max-height: 50%;*/
    margin: auto;
    background-color: #FFF;;
    /*background: transparent\9;*/
    /*background: rgba(0,0,0,0.4);*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    font-size: 12px;
    /*opacity: 0.4;*/
}

 .smallOverlay_height{
             display: inline-block;
max-width:60%;
max-height: 60%;
overflow-y:auto;
 position: fixed; 
margin:auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 12px;
        }
        .overflow{
            overflow-y:auto;
        }
         .largeOverlay_height{
             display: inline-block;
max-width:75%;
max-height: 80%;
overflow-y:auto;
 position: fixed; 
margin:auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 12px;
        }
