body {
}

.trigger-title{
    text-align: center;
    padding-left: 10px;
    font-weight:bold;
    font-size:large;
    padding-bottom: 5px;
}

.chart-submit-btn{
    height: 40px;
}

.definition-body-outer {
    border-radius: 10px;
    padding: 4px 0px 4px 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    width: 920px;
    height: 800px;
    background-color: #FFFFFF;
    z-index: 12;
}

.definition {
    text-align: left;
    padding-left: 18px;
    width: 900px;
    height: 796px;
    overflow-y: auto;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 8px;
    z-index: 12;
}

.detail-body {
    border-radius: 10px;
    padding: 4px 0px 4px 0px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    width: 380px;
    height: 280px;
    background-color: #DDDDDD;
    z-index: 12;
}

.detail-criteria {
    margin: 0 auto;
    width: 150px;
    padding-top: 30px;
}

.tbl-trig-detail {
    margin: 0 auto;
    padding-top: 10px;
    width: 300px;
    cursor: pointer;
}

.tbl-trig-detail td {
   padding-left:30px;
}

.tbl-trig-detail tr:nth-of-type(2n+1) {
    background-color: #E8E9F7;
}

.tbl-trig-detail tr:nth-of-type(2n) {
    background-color: #F0F1F2;
}

.div-detail {
    margin-top: 25px; 
    text-align: center; 
    font-weight: bold; 
    font-size: larger;
}

.detail-submit {
    padding-left:52px;
    padding-top:35px;
    padding-bottom:20px;
    width:225px;
    margin: 0 auto;
}

.detail-description {
    padding-left:25px;
}

.detail-checkbox {
    cursor: pointer !important; 
}

.detail-button{
    max-width: 100px !important;
}

.red-cell {
    background-color: #FF0000;
    color: #FFFFFF;
}

.blue-cell {
    background-color: #3366FF;
    color: #FFFFFF;
}

.submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #568bb3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7a8eb9;
}
.submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.submit-button:active {
	position:relative;
	top:1px;
}


.cancel-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.cancel-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.cancel-button:active {
	position:relative;
	top:1px;
}

.criteria-label {
    text-align: right;
    display: inline-block;
}

.optionButtons {
    padding-bottom: 10px;
}

.readiness {
    width: 650px;
    font-weight:bold;
    text-align: center;
}

.readiness th {
    background-color: #AAAAAA;
    text-align: center;
}

.readiness table {
    width: 600px;
}

.div-readiness-parent {
    width: 700px;
    height: 1000px;
}

.div-station-insp-criteria {
    width: 550px;
    padding-top:15px;
}

.div-weighted-criteria {
    width:800px;
    padding-top: 15px;
    padding-left: 35px;
    font-weight:bold;
    font-size:medium;
}

.tbl-weighted-trig {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.tbl-weighted-trig th {
    border: 1px solid black;
}

.tbl-weighted-trig tbody td {
    border: 1px solid black;
    padding-bottom:2px;
    padding-top: 2px;
}

.weighting-msg {
    padding-left: 30px;
    width: 320px;
    font-size:small;
}

.filter-count {
    width: 400px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 5px;
}

.trigger-drill-title {
    font-weight: bold;
    padding-left: 10px;
}

.trig-criteria {
    width:600px; 
    max-height: 30px;
}

.trig-criteria-lower {
    width:600px; 
    padding-top: 10px;
    padding-bottom:15px;
}

.trig-criteria-lower-thresh {
    width: 220px;
}

.trig-sito-criteria-left {
    height: 20px; 
    width: 240px; 
    padding-left: 23px;
}

.trig-sito-criteria-right {
    width: 235px;
}

.si-readiness {
    width: 360px;
    padding-bottom: 15px;
}

.si-readiness-outer {
    width: 530px;
    padding-top: 30px;
    padding-bottom: 8px;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    z-index: 11;
    position: relative;
    text-align:center;
}

.si-readiness-title {
    font-weight: bold;
    font-size: x-large;
    padding-bottom:10px;
}

.no-data-found {
    font-weight:bold;
    color: #CC0000;
}
