.container {
    overflow: hidden;
    height: 400px;
    width: 400px;
}

.container__div-inner {
    overflow: hidden;
    height: 400px;
    width: 200px;
    float: left;
}

.container__div-inner__div-top-left {
    height: 200px;
    width: 200px;
}

.container__div-inner__div-bottom-left {
    height: 200px;
    width: 200px;
}

.container__div-right {
    height: 400px;
    width: 200px;
    float: left;
    vertical-align: middle;
}

.div-lower {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    height: auto;
    text-align: center;
    /*background-color: #ccc;*/
}

.nhost-links {
    font-weight: 700;
    font-family: Arial;
    font-weight: bold;
}

    .nhost-links a {
        font-size: 10pt;
        text-decoration: none;
    }

        .nhost-links a:visited {
        }

#nhmap {
    border: 0;
    vertical-align: middle;
}


/* to help vertically center an image */
.image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.container__nhost-links {
    padding-top: 50px;
    padding-left: 150px;
}

.container__div-testcount {
    width: 450px;
    float: left;
    padding-top: 40px;
}

.container__mainreport-map {
    overflow: hidden;
    float: left;
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 50px;
}

.mainreport-map {
    padding-top: 40px;
    padding-left: 20px;
}

.div-nh-map-title {
    width: 260px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    font-size: large;
    font-family: Arial;
}

.div-main {
    width: 950px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 40px;
}

.div-testcount {
    height: 275px; width: 450px;
}

.div-rejectcount {
    height: 275px; 
    width: 450px;
}
